.footer {
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
  background-image: url(../images/section-2-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 442px;
      margin-left: 0;
    }
  }
}

.footer-logo {
  display: block;
  margin: 0 auto;
  width: 6.6875rem;
  margin-bottom: 1.5625rem;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.footer-address {
  width: 11.5625rem;
  $ls: 0.03em;
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.875rem;
  font-family: 'Roboto Condensed', sans-serif;

  @media (min-width: 768px) {
    margin-left: 0;
    text-align: left;
    line-height: 25px;
  }
}

.footer-contacts__item {
  width: 8.875rem;
  font-size: 0.875rem;
  margin: 0 auto;
  $ls: 0.03em;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;

  @media (min-width: 768px) {
    text-align: left;
    line-height: 25px;
  }
}

.footer-contacts__list {
  list-style: none;
}

.footer-contacts__item:last-of-type {
  margin-bottom: 30px;
}

.footer-contacts__link {
  color: #000000;
}

.footer-button {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 36px;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 270px;
  height: 54px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 20px 75px;
  $ls: 0.03em;
  border-radius: 30px;
  background-image: linear-gradient( 270deg,
  rgb(222,71,236) 0%, rgb(117,168,249) 100%);
  box-shadow: 5.5px 9.526px 16px 0px
  rgba(73, 119, 237, 0.23);
  transition: all .3s linear;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    width: 242px;
    height: 57px;
  }
}

.footer-button:hover {
  transform: scale(1.2);
}

.social__list {
  list-style: none;
  text-align: center;
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s linear;
}

.telegram {
  background-image: url(../images/telegram.png);
}

.facebook {
  background-image: url(../images/facebook.png);
}

.youtube {
  background-image: url(../images/youtube.png);
}

.social__link:hover {
  transform: scale(1.2);
}
