.footer {
position: relative;
padding-top: 4.375rem;
padding-bottom: 2.5rem;
background-image: url(../images/section-2-bg.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;


@media (min-width: 1440px){
  padding-top: 162px;
  background-position: top center;
}

&::before {
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    content: '';
    width: 195px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/rocket.svg);
    bottom: 13%;
    right: 0%;
  }

  @media (min-width: 1440px) {
    width: 325px;
    height: 510px;
    bottom: -30px;
    right: 10%;
  }
}

.wrapper {
  padding-bottom: 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 442px;
    margin-left: 0;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    width: 856px;
    margin-left: 0;
  }
}
}

.footer-logo {
  display: block;
  margin: 0 auto;
  width: 6.6875rem;
  margin-bottom: 1.5625rem;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.footer-address {
  width: 11.5625rem;
  $ls: 0.03em;
  margin: 0 auto;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.875rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 25px;

  @media (min-width: 768px) {
    margin-left: 0;
    text-align: left;
  }

  @media (min-width: 1440px) {
    margin-right: 120px;
  }

}

.footer-contacts__item {
  width: 8.875rem;
  font-size: 0.875rem;
  margin: 0 auto;
  $ls: 0.03em;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 25px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.footer-contacts__list {
  list-style: none;

  @media (min-width: 1440px) {
    margin-right: 120px;
  }
}

.footer-contacts__item:last-of-type {
  margin-bottom: 30px;
}

.footer-contacts__link {
  color: #000000;
}

.footer-button {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 36px;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 270px;
  height: 54px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 20px 75px;
  $ls: 0.03em;
  border-radius: 30px;
  background-image: linear-gradient(270deg,
      rgb(222, 71, 236) 0%, rgb(117, 168, 249) 100%);
  box-shadow: 5.5px 9.526px 16px 0px rgba(73, 119, 237, 0.23);
  transition: all .3s linear;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    width: 242px;
    height: 57px;
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: -152px;
    left: 480px;
  }
}

.footer-button:hover {
  transform: scale(1.2);
}

.social__list {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    position: absolute;
    top: 6px;
    left: 280px;
  }

  @media (min-width: 1440px) {
    position: static;
    top: auto;
    left: auto;
    margin-bottom: 0;
  }
}

.box {
  position: relative;

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 895px;
  }
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s linear;
}

.telegram {
  background-image: url(../images/telegram.png);
}

.facebook {
  background-image: url(../images/facebook.png);
}

.youtube {
  background-image: url(../images/youtube.png);
}

.social__link:hover {
  transform: scale(1.2);
}

.last-line__list {
  text-align: center;
  list-style: none;
  line-height: 1.5625rem;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 48px;
  }

  @media (min-width: 1440px) {
    display: flex;
    width: 640px;
    justify-content: space-between;
    padding-top: 0;
  }
}

.last-line__item {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: $ls;
}

.last-line__link {
  color: #a7adb6;
}

