body {
  font-size: 14px;
  color: $font-black;
}

.section-blue {
  background-image: url();
}

.section__title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 34px;

  &::before,
  &::after {
    color: $main-yellow;
  }

  &::before {
    content: "[";
    padding-right: 0.3em;
  }

  &::after {
    content: "]";
    padding-left: 0.3em;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
  }
}