.section4 {
  padding-top: 40px;
  padding-bottom: 27px;
  position: relative;
  
  &::before {
    position: absolute;
    width: 100%;
    height: 410px;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../images/section-4-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
  }

  .section__descr {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    $ls: 0.03em;
    color: $main-white;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 23px;
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 25px;
      width: 525px;
      margin: 0 auto 28px;
    }

    &::before {
      content: "";
      width: 47px;
      height: 47px;
      display: block;
      margin: 0 auto 17px;
      background-image: url(../images/icon-sputnik.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: 768px) {
        height: 70px;
        width: 70px;
      }
    }
  }
}

.test {
  background-color: $main-white;
  padding: 33px 27px;
  box-shadow: 0px 8px 40px 0px rgba(1, 1, 0, 0.08);
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: $ls;
  line-height: 24px;
  
  .section__title {
    text-align: center;
  }
}

.test__descr {
  color: $font-gray;
  margin-bottom: 17px;
  
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 30px;
  }
}

.test__label {
  color: $main-yellow;
  font-weight: 700;
  margin-bottom: 17px;

}

.test__question {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 33px;
}

.test__form {
  margin-bottom: 28px;
}

.question__list {
  counter-reset: question;
}

.question__item {
  list-style: none;
}
.question__item:not(:last-of-type) {
  margin-bottom: 40px;
}

.question__label {
  cursor: pointer;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.question__input:checked + .question__label .question__head::before {
  border: 3px solid $main-white;
  background-color: $main-yellow;
}

.question__head {
  display: inline-block;
  vertical-align: middle;
  color: $main-yellow;
  line-height: 19px;
  margin-bottom: 11px;
  &::before {
    position: relative;
    top: -2px;
    left: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    content: "";
    height: 16px;
    width: 16px;
    outline: 2px solid $main-yellow;
    transition: all 0.2s ease;
  }
  &::after {
    counter-increment: question;
    content: " "counter(question);
  }
}

.question__text {
  color: $font-gray;
}

.test__pagination {
  text-align: center;
  
  .test__page,
  .prev,
  .next {
    display: inline-block;
    vertical-align: middle;
  }

  .test__page {
    margin: 0 10px;
    font-weight: 700;

    span {
      color: $main-yellow;
    }
  }

  .prev,
  .next {
    width: 32px;
    height: 14px;
    background-color: transparent;
    background-image: url(../images/icon-arrow-sect5.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .prev {
    transform: rotate(180deg);
  }
}